html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img{
    max-width: 100%;
    height: auto;
}

/* header css start */
.container__header{
    display: flex;
    justify-content: space-between;
    background: #87ABE3;
    height: 75px;
    max-width: 100%;
}

.header__logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 54px;
}

.header__logo-pic{
    width: 47px;
    height: 51px;
    margin-right: 10px;
}

.header__login{
    display: flex;
    flex-wrap: wrap;
}

.header__login-pic{
    margin-bottom: 20px;
    margin-right: 10px;
}

.header__title{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FCF7F4;
}

.header__enter{
    margin-top: 20px;
    margin-right: 54px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FCF7F4;
    text-decoration: none;
}

.header__enter:hover, .header__enter:focus, .header__enter:active{
    opacity: .50;
}
/* header css end */

/* main css start */
.main{
    padding-bottom: 30px;
}

.container__main{
    display: flex;
    flex-wrap: wrap;
    width: 1236px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 300px;
    border-top: 1px solid #87ABE3;
}

/* Контейнер сложности */
.main__wrapper-list{
    padding: 26px 0 0 20px;
}

.main__title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #87ABE3;
    padding-bottom: 20px;
}

.li__border{
    border-bottom: 1px solid #87ABE3;
    padding-bottom: 18px;
}

.main__menu-link{
    text-decoration: none;
    color: #87ABE3;
}

.main__menu-link:hover, .main__menu-link:focus, .main__menu-link:active{
    opacity: .50;
}

.op__li-container{
    margin-left: 35px;
    margin-top: 5px;
}

.op__li-select{
    width: 200px;
    height: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #87ABE3;
    background: #D9D9D9;
    border-radius: 14px;
    border: 1px solid #87ABE3;   
}

.op__li-choose{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #87ABE3;
}
/* Контейнер сложности */

/* Контейнер текста задач */
.main__text{
   margin: 70px 0 0 0;
}

.main__text-input{
    width: 590px;
    height: 60px;
    background: #D9D9D9;
    border: 1px solid #87ABE3;
    border-radius: 14px;
    display: flex;
}

.input__text{
    margin-top: 6px;
}

.main__form-text{
    width: 530px;
    padding-left: 20px;
    background: transparent;
    border: none;
    color: #87ABE3;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 41px;
} 

::placeholder{
    color: #87ABE3;
} 

.main__form-btn{
    width: 30px;
    height: 30px;
    color: #D9D9D9;
    background-color: #87ABE3;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 13px;
}

.main__form-btn:hover, .main__form-btn:focus, .main__form-btn:active{
    opacity: .50;
}
/* Контейнер текста задач */

/* Контейнер описания */
.main__textarea{
    padding-top: 20px;
}

.main__description{
    width: 100%;
    max-height: 150px;
    min-height: 105px;
    padding: 15px 17px 0 17px;
    color: #87ABE3;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    background-color: #D9D9D9;
    border-radius: 14px;
}

.textarea__container{
    border-radius: 14px;
    width: 590px;
    background-color: #D9D9D9;
    border: 1px solid #87ABE3;
}
/* Контейнер описания */

/* Контейнер задачи */
.main__tasks{
    width: 840px;
    margin: 0 auto;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 14px;
    border: 1px solid #87ABE3;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 41px;
    color: #87ABE3;
}

.tasks__text{
    max-width: 630px;
    padding: 5px;
}

.marker__cont{
    display: flex;
    flex-wrap: wrap;
}

.marker__pic{
    margin-bottom: 5px;
}

.tasks__h{
    padding-bottom: 5px;
    padding-right: 10px;
} 

.tasks__description{
    font-size: 16px;
    line-height: 20px;
    color: #87ABE3;
    padding-bottom: 5px;
}

.tasks__img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.tasks__cont-second{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.tasks__btn{
    margin-top: 40px;
    background: none;
    border: none;
    width: 45px;
    height: 35px;
}

.btn__second{
   width: 40px;
}

.tasks__btn:hover, .tasks__btn:active, .tasks__btn:focus{
    opacity: .50;
}

.btn__one{
    margin-right: 20px;
}
/* Контейнер задачи */

/* Контейнер акт/вып */
.btn__container{
    background: #D9D9D9;
    width: 287px;
    height: 60px;
    margin-top: 70px;
    margin-left: 35px;
    border: 1px solid #87ABE3;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
}

.btn__container-one{
  padding: 16px 0 0 13px;
  border-right: 1px solid;
  border-color: #87ABE3;
}

.btn__container-two{
    padding: 16px 0 0 2px;
}

.btn__act-done{
    background-color: #D9D9D9;
    border: none;
}

.btn__link{
    text-decoration: none;
    color: #87ABE3;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.btn__link:hover, .btn__link:focus, .btn__link:active{
    opacity: .50;
}
/* Контейнер акт/вып */
/* main css end */

/* footer css start */
.footer{
    margin-top: auto;
    padding: 16px;
    background: #87ABE3;
}

.footer__text{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FCF7F4;
}
/* footer css end */


/* Adaptive css start */
@media screen and (max-width: 1240px) {
    .container__main{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .main__wrapper-list{
        padding: 26px 0 0 20px;
    }

    .btn__container{
        position: relative;
        left: 150px;
        background: #D9D9D9;
        width: 287px;
        height: 50px;
        margin: -50px 0 12px 0;
    }

    .btn__container-one{
        padding: 5px 0 0 13px;
        border-right: 1px solid;
        border-color: #87ABE3;
      }

    .btn__act-done{
        height: 35px;
    }
      
    .btn__container-two{
        padding: 5px 0 0 2px;
    }

    .main__wrapper-list{
        position: relative;
        right: 150px;
        padding: 26px 0 0 0;
    }
 
    .main__text{
        margin: 20px 0 20px 0;
        order: 1;
     }

    .main__form-text{
        font-weight: 500;
        font-size: 20px;
        line-height: 41px;
    } 

    .main__tasks{
        width: 680px;
        padding-left: 20px;
        font-weight: 500;
        font-size: 16px;
    }
    
    .tasks__text{
        width: 530px;
    }
    
    .marker__pic{
        width: 28px;
    }
    
    .tasks__description{
        font-weight: 400;
        font-size: 12px;
    }
    
    .tasks__cont-second{
        margin-right: 13px;
        margin-top: 10px;
    }
    
    .tasks__btn{
        background: none;
        border: none;
        width: 40px;
    }

    .btn__second{
        width: 38px;
    }
}

@media screen and (max-width: 690px) {
    .main__tasks{
        width: 550px;
    }
    
    .tasks__text{
        width: 400px;
        padding: 5px;
    }

    .tasks__cont-second{
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {
    .main__text{
        margin: 10px 0 10px 0;
     }
     
     .main__text-input{
         width: 490px;
         height: 50px;
         margin: 0 auto;
     }
     
     .input__text{
        margin-top: -2px;
     }

     .main__form-btn{
        margin-top: 10px;
     }

     .main__form-text{
         width: 440px;
         padding-top: 5px;
         padding-left: 15px;
         font-size: 16px;
     }

     .main__textarea{
        padding-top: 20px;
    }
    
    .main__description{
        width: 100%;
        max-height: 80px;
        padding-top: 20px;
        padding-left: 17px;
        font-size: 16px;
    }
    
    .textarea__container{
        width: 490px;
    }

    .btn__container{
        position: relative;
        left: 140px;
        background: #D9D9D9;
        width: 222px;
        height: 50px;
        margin: -50px 0 12px 0;
    }

    .btn__link{
        font-size: 16px;
    }

    .main__wrapper-list{
        left: -109px;
    }
}

@media screen and (max-width: 565px) {
    .container__header{
        height: 53px;
    }

    .header__logo{
        padding-left: 25px;
    }

    .header__logo-pic{
        width: 30px;
        margin-right: 5px;
    }

    .header__title{
        font-size: 20px;
    }

    .header__enter{
        margin-right: 21px;
        font-size: 20px;
        margin-top: 15px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    .header__login-pic{
        width: 40px;
    }
    
    .container__main{
        margin-top: 60px;
    }

    .main__title{
        font-size: 16px;
    }

    .op__li-container{
        margin-left: 32px;
        margin-top: -6px;
    }

    .op__li-select{
        width: 150px;
        height: 30px;
        font-size: 14px;
    }

    .btn__container{
        width: 189px;
        height: 35px;
        top: 17px;
        left: 100px;
    }

    .btn__act-done{
        height: 19px;
    }

    .btn__container-one{
        padding-left: 3px;
    }

    .btn__container-two{
        padding: 6px 0 0 1px;
    }

    .btn__link{
        font-size: 14px;
    }

    .main__text{
        margin-top: 30px;
    }

    .main__text-input{
        width: 370px;
        height: 40px;
    }

    .input__text{
        width: 330px;
        height: 40px;
    }

    .main__form-text{
        width: 315px;
        font-size: 12px;
        height: 40px;
    }

    .main__form-btn{
        font-size: 14px;
        width: 25px;
        height: 25px;
        margin-top: 7px;
    }

    .textarea__container{
        width: 410px;
        height: 60px;
    }

    .main__description{
        padding-top: 10px;
        font-size: 12px;
        min-height: 50px;
    }

    .main__tasks{
        margin-top: 20px;
        width: 450px;
        height: 80px;
        font-size: 12px;
        line-height: 30px;
    }

    .tasks__h{
        padding-bottom: 0px;
    }

    .marker__cont{
        height: 27px;
    }

    .marker__pic{
        width: 20px;
        margin-bottom: 0px;
    }
    
    .tasks__text{
        width: 340px;
        padding: 0px;
    }

    .tasks__description{
        font-size: 10px;
        line-height: 12px;
    }

    .tasks__cont-second{
        margin-right: 7px;
    }

    .tasks__btn{
        width: 28px;
        margin-top: 1px
    }

    .btn__one{
        margin-right: 10px;
    }

    .footer{
        padding: 14px;
    }

    .footer__text{
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 450px) {
    .main__title{
        font-size: 12px;
    }

    .main__wrapper-list{
        left: -95px;
    }

    .op__li-container{
        margin-left: 18px;
    }

    .op__li-select{
        width: 120px;
        height: 25px;
        font-size: 12px;
    }

    .btn__link{
        font-size: 12px;
    }

    .btn__container{
        width: 170px;
        height: 30px;
        top: 24px;
        left: 85px;
    }

    .btn__container-one{
        padding: 3px 0 0 5px;
    }

    .btn__container-two{
        padding: 3px 0 0 2px;
    }

    .btn__one{
        margin-right: 5px;
    }

    .main__tasks{
        width: 325px;
        padding-left: 8px;
        font-size: 10px;
    }

    .marker__cont{
        height: 25px;
    }

    .marker__pic{
        width: 18px;
        margin-bottom: 3px;
    }

    .tasks__text{
        width: 245px;
    }

    .tasks__description{
        font-size: 8px;
        line-height: 10px;
    }

    .tasks__cont-second{
        margin-right: 3px;
    }

    .main__text-input{
        width: 325px;
    }

    .input__text{
        width: 290px;
    }

    .main__form-text{
        width: 285px;
        padding-left: 10px;
        
    }

    .textarea__container{
        width: 330px;
    }
}   


/* Adaptive css end */